body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.7rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.375rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.16rem;
    font-size: calc( 1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #e6c63b !important;
}
.bg-info {
  background-color: #e6c63b !important;
}
.bg-warning {
  background-color: #e6c63b !important;
}
.bg-danger {
  background-color: #e6c63b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-info,
.btn-info:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-success,
.btn-success:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b39617 !important;
  border-color: #b39617 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e6c63b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b39617 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e6c63b !important;
  border-color: #e6c63b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #e6c63b !important;
}
.text-success {
  color: #e6c63b !important;
}
.text-info {
  color: #e6c63b !important;
}
.text-warning {
  color: #e6c63b !important;
}
.text-danger {
  color: #e6c63b !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a68b15 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #a68b15 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #a68b15 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a68b15 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a68b15 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e6c63b;
}
.alert-warning {
  background-color: #e6c63b;
}
.alert-danger {
  background-color: #e6c63b;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fdfbf0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdfbf0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e6c63b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-topuvs8N3M .navbar-dropdown {
  position: relative !important;
}
.cid-topuvs8N3M .navbar-dropdown {
  position: absolute !important;
}
.cid-topuvs8N3M .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-topuvs8N3M .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-topuvs8N3M .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-topuvs8N3M .dropdown-item:hover,
.cid-topuvs8N3M .dropdown-item:focus {
  background: #000000 !important;
  color: white !important;
}
.cid-topuvs8N3M .dropdown-item:hover span {
  color: white;
}
.cid-topuvs8N3M .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-topuvs8N3M .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-topuvs8N3M .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-topuvs8N3M .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-topuvs8N3M .nav-link {
  position: relative;
}
.cid-topuvs8N3M .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-topuvs8N3M .container {
    flex-wrap: nowrap;
  }
}
.cid-topuvs8N3M .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-topuvs8N3M .dropdown-menu,
.cid-topuvs8N3M .navbar.opened {
  background: #000000 !important;
}
.cid-topuvs8N3M .nav-item:focus,
.cid-topuvs8N3M .nav-link:focus {
  outline: none;
}
.cid-topuvs8N3M .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-topuvs8N3M .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-topuvs8N3M .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-topuvs8N3M .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-topuvs8N3M .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-topuvs8N3M .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-topuvs8N3M .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(0, 0, 0, 0);
}
.cid-topuvs8N3M .navbar.opened {
  transition: all 0.3s;
}
.cid-topuvs8N3M .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-topuvs8N3M .navbar .navbar-logo img {
  width: auto;
}
.cid-topuvs8N3M .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-topuvs8N3M .navbar.collapsed {
  justify-content: center;
}
.cid-topuvs8N3M .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-topuvs8N3M .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-topuvs8N3M .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-topuvs8N3M .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-topuvs8N3M .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-topuvs8N3M .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-topuvs8N3M .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-topuvs8N3M .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-topuvs8N3M .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-topuvs8N3M .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-topuvs8N3M .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-topuvs8N3M .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-topuvs8N3M .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-topuvs8N3M .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-topuvs8N3M .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-topuvs8N3M .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-topuvs8N3M .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-topuvs8N3M .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-topuvs8N3M .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-topuvs8N3M .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-topuvs8N3M .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-topuvs8N3M .navbar.navbar-short {
  min-height: 60px;
}
.cid-topuvs8N3M .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-topuvs8N3M .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-topuvs8N3M .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-topuvs8N3M .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-topuvs8N3M .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-topuvs8N3M .dropdown-item.active,
.cid-topuvs8N3M .dropdown-item:active {
  background-color: transparent;
}
.cid-topuvs8N3M .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-topuvs8N3M .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-topuvs8N3M .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-topuvs8N3M .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-topuvs8N3M .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-topuvs8N3M .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-topuvs8N3M ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-topuvs8N3M .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-topuvs8N3M button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-topuvs8N3M button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-topuvs8N3M button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-topuvs8N3M button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-topuvs8N3M button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-topuvs8N3M button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-topuvs8N3M nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-topuvs8N3M nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-topuvs8N3M nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-topuvs8N3M nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-topuvs8N3M .navbar-dropdown {
  padding: 0 1rem;
}
.cid-topuvs8N3M a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-topuvs8N3M .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-topuvs8N3M .navbar {
    height: 70px;
  }
  .cid-topuvs8N3M .navbar.opened {
    height: auto;
  }
  .cid-topuvs8N3M .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tp9OyQzA5x {
  background-color: #000000;
}
.cid-tp9OyQzA5x .mbr-fallback-image.disabled {
  display: none;
}
.cid-tp9OyQzA5x .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tp9OyQzA5x .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-tp9OyQzA5x .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tp9OyQzA5x .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-tp9OyQzA5x .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-tp9OyQzA5x .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tp9OyQzA5x .mbr-section-title {
  color: #e6c63b;
  text-align: center;
}
.cid-tp9OyQzA5x .mbr-text,
.cid-tp9OyQzA5x .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tp9YdyzJaJ {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tp9YdyzJaJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tp9YdyzJaJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tp9YdyzJaJ .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tpa2mE2X7X {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tpa2mE2X7X .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpa2mE2X7X .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpa2mE2X7X .item {
  padding-bottom: 2rem;
}
.cid-tpa2mE2X7X .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-tpa2mE2X7X .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tpa2mE2X7X .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tpa2mE2X7X .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tpa2mE2X7X .carousel-control,
.cid-tpa2mE2X7X .close {
  background: #1b1b1b;
}
.cid-tpa2mE2X7X .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tpa2mE2X7X .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tpa2mE2X7X .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tpa2mE2X7X .carousel-control-next span {
  margin-left: 5px;
}
.cid-tpa2mE2X7X .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tpa2mE2X7X .close::before {
  content: '\e91a';
}
.cid-tpa2mE2X7X .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tpa2mE2X7X .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tpa2mE2X7X .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tpa2mE2X7X .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tpa2mE2X7X .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tpa2mE2X7X .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tpa2mE2X7X .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tpa2mE2X7X .carousel-indicators li.active,
.cid-tpa2mE2X7X .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tpa2mE2X7X .carousel-indicators li::after,
.cid-tpa2mE2X7X .carousel-indicators li::before {
  content: none;
}
.cid-tpa2mE2X7X .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tpa2mE2X7X .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tpa2mE2X7X .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tpa2mE2X7X .carousel-indicators {
    display: none;
  }
}
.cid-tpa2mE2X7X .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tpa2mE2X7X .carousel-inner > .active {
  display: block;
}
.cid-tpa2mE2X7X .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tpa2mE2X7X .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tpa2mE2X7X .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tpa2mE2X7X .carousel-control,
  .cid-tpa2mE2X7X .carousel-indicators,
  .cid-tpa2mE2X7X .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tpa2mE2X7X .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tpa2mE2X7X .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tpa2mE2X7X .carousel-indicators .active,
.cid-tpa2mE2X7X .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tpa2mE2X7X .carousel-indicators .active {
  background: #fff;
}
.cid-tpa2mE2X7X .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tpa2mE2X7X .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tpa2mE2X7X .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tpa2mE2X7X .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tpa2mE2X7X .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tpa2mE2X7X .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tpa2mE2X7X .carousel {
  width: 100%;
}
.cid-tpa2mE2X7X .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tpa2mE2X7X .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tpa2mE2X7X .modal.fade .modal-dialog,
.cid-tpa2mE2X7X .modal.in .modal-dialog {
  transform: none;
}
.cid-tpa2mE2X7X .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tpa2mE2X7X H6 {
  text-align: center;
  color: #ffffff;
}
.cid-tpa2mE2X7X H3 {
  color: #ffe161;
}
.cid-tpa2mE2X7X H4 {
  color: #ffffff;
}
.cid-tpa83e25tL {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tpa83e25tL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpa83e25tL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 1500px) {
  .cid-tpa83e25tL .container {
    max-width: 1400px;
  }
}
.cid-tpa83e25tL .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tpa83e25tL .card-wrapper {
  margin-top: 3rem;
}
.cid-tpa83e25tL .row {
  justify-content: center;
}
.cid-tpgrh69uv9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #000000;
}
.cid-tpgrh69uv9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpgrh69uv9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpgrh69uv9 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tpgrh69uv9 .team-card:hover {
  transform: translateY(-10px);
}
.cid-tpgrh69uv9 .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tpgrh69uv9 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tpgrh69uv9 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tpgrh69uv9 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tpgrh69uv9 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tpgrh69uv9 .social-row {
  text-align: center;
}
.cid-tpgrh69uv9 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #000000;
  transition: all 0.3s;
}
.cid-tpgrh69uv9 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1.5rem;
}
.cid-tpgrh69uv9 .social-row .soc-item:hover {
  background-color: #000000;
}
.cid-tpgrh69uv9 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tpgrh69uv9 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tpgrh69uv9 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tpgrh69uv9 .embla__button--next,
.cid-tpgrh69uv9 .embla__button--prev {
  display: flex;
}
.cid-tpgrh69uv9 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tpgrh69uv9 .embla__button {
    display: none;
  }
}
.cid-tpgrh69uv9 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tpgrh69uv9 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tpgrh69uv9 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tpgrh69uv9 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tpgrh69uv9 .embla__button {
    top: auto;
  }
}
.cid-tpgrh69uv9 .embla {
  position: relative;
  width: 100%;
}
.cid-tpgrh69uv9 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tpgrh69uv9 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tpgrh69uv9 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tpgrh69uv9 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tpgrh69uv9 .mbr-section-title {
  color: #e6c63b;
}
.cid-tpgrh69uv9 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tpgrh69uv9 .card-title,
.cid-tpgrh69uv9 .social-row {
  color: #000000;
}
.cid-tpgrh69uv9 .mbr-role,
.cid-tpgrh69uv9 .social-row {
  color: #e6c63b;
}
.cid-tpgriOO6GV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tpgriOO6GV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tpgriOO6GV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tpgriOO6GV .media-container-row {
  justify-content: space-between;
}
.cid-tpgriOO6GV .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-tpgriOO6GV .text-content {
    max-width: none;
  }
}
.cid-tpgriOO6GV .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #e6c63b;
  border: 2px solid #e6c63b;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tpgriOO6GV .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-tpgriOO6GV .mbr-iconfont-social:hover {
  background-color: #e6c63b;
  color: #000000;
}
@media (max-width: 768px) {
  .cid-tpgriOO6GV .icons {
    justify-content: center !important;
  }
  .cid-tpgriOO6GV .text-content * {
    text-align: center;
  }
}
.cid-tpgriOO6GV .mbr-section-title {
  color: #ffffff;
}
.cid-tpgriOO6GV P {
  color: #ffffff;
}
